html,
/* body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
} */

body {
  padding: 0;
  margin: 0;
  /* font-family: 'Overpass Mono', monospace;  background: linear-gradient(#dd8a0c, #ffe8ac); */
  font-family: 'Overpass Mono', monospace;
  overflow-x: hidden;
  color: #dfdce3;
}

a {
  color: #FAD02C;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

kbd {
  padding: 5px;
  border-radius: 10px;
  background: rgba(0,0,0,0.2);
  padding: 5px 10px;

}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}