.body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.main {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  /* justify-content: center; */
  align-items: start;
}

.container {
  margin: 32px;
  width: 600px;
  padding: 20px;
  background-color: #fc4a1a;
  border-radius: 15px;
  box-shadow: 0 10px 20px #ff000040;
}

.title {
  margin-top: 0px;
}

.bottomLeft {
  position: absolute;
  z-index: 1;
  left: 32px;
  bottom: 32px;
}

.bottomLeft > div {
  padding: 10px 15px 10px 10px;
  border-radius: 15px;
  margin: 10px 0;
  background-color: #fc4a1a;
  box-shadow: 0 10px 20px #ff000040;
}

.topRight {
  position: absolute;
  z-index: 1;
  right: 32px;
  top: 32px;
}

.infoButton {
  width: 60px;
  height: 60px;
  background-color: #fc4a1a;
  box-shadow: 0 10px 20px #ff000040;
  border: none;
  border-radius: 50%;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.infoButton:hover + .popup {
 opacity: 1;
 transform: translateY(0); 
}

.popup {
  position: absolute;
  right: 0;
  top: 82px;
  padding: 20px;
  background: #fc4a1a;
  box-shadow: 0 10px 20px #ff000040;
  width: 300px;
  opacity: 0;
  transform: translateY(10px); 
  transition: 0.3s ease all;
  border-radius: 15px;
}